*{box-sizing: border-box;}

body{
  font-family: "Press Start 2P", cursive;
  background: black;
  color: ghostwhite;
  min-height: 100vh;
  
}
h1{
  text-align: center;
  color: ghostwhite;
}

.submit{
  float: right;
}

table{
  width: 100%;
}

thead{

  z-index: 1;
  width: 100%
  padding: 3px;
}
th{
  text-align: center;
  color:black;

}

tr{
  padding: 1px;
}


td{
  text-align: center;

}


.playerContainer{

    height: 300px;
    width: 800px;
    overflow: scroll;


}


.playerCard{
  background: linear-gradient( black 0%, darkslateblue  60%, #cedce7 100%);

  position: relative;
  height: 200px;
  width: 200px;
  background-color: #464b4d;
  transition: all 1s ease-in-out;
  margin-left: 20px;
  margin-top: 20px;
  transform-style: preserve-3d;
  perspective: 600;
 


}


.playerCard:hover{
  transform : rotateY(180deg);
}
.front, .back{
  position: absolute;
  top:0;
  left:0;
  backface-visibility: hidden;
  }
, .front{
 
}
.frontbtn{
  

}
 .back{
  transform: rotateY(180deg);
   
}

.current{
  float:  right;  
}

.face{
  float: right;

  height: 60px;
  width: 60px;'
  backface-visibility: hidden;
}