* {
    box-sizing: border-box;
}

body {

    font-family: "Press Start 2P", cursive;
    background: black;
    color: ghostwhite;
    min-height: 100vh;
    height: 100%;

}


h1 {
    text-align: center;
    color: ghostwhite;
}

.submit {
    float: right;
}

table {
    width: 100%;
    height: 20px;
}

thead {

    z-index: 1;
    width: 100% padding: 3px;
}

th {
    text-align: center;
    color: black;
}

tr {
    padding: 1px;
}


td {
    text-align: center;
}

.startBtn{
    float: right;

}


.col{
  display: flex;
}
.cardContainer {
    background: url(stadium4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 600px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: none;
    perspective: 1000px;

}

.playerContainer {

    height: 300px;
    width: 800px;
    overflow: scroll;
}


.playerCard {
    background: linear-gradient(15deg, silver 0%, silver 30%, darkgreen 100%);
    font-size: 10px;
    color:lightcyan;
    position: relative;
    height: 200px;
    width: 230px;
    top: 50px;
    background-color: #464b4d;
    transition: all 1s ease-in-out;
/*    margin-top: 15px;
    margin-left: 15px;*/

    transform-style: preserve-3d;
    perspective: 1000px;
    border-radius: 15px;
    box-sizing: border-box;
    text-shadow: 1px 1px  black;
    display: flex;
    z-index: 1;
}
.bottom{
    height: 40px;
    width: 250px;

    background-color: silver;
    margin-top: 153px;
    margin-left: -7px;
    font-family: "Press Start 2P", cursive;
    font-size: 14px;
    color: lightcyan;
    text-shadow: 2px 1px  black;
    border-radius: 15px;

}

.inner{

  position: absolute;
  box-sizing: border-box;
  height: 100px;
  width: 200px;
  transform: translateZ(40px) scale(0.94);
  z-index: 2;
  top: 10px;
  left: 20px;

 /* margin-top: 60px;
margin-left: 15px;*/
}
.innerBack{
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  z-index: 2;
  top: 100px;
  left: 0px;
}


}
.playerInfo{
  position: absolute;
  width: 200px;
  height: 100px;
  
}
.front img {
    position: relative;
    height: 50px;
    width: 50px;

}


.playerCard:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
/*    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)*/
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;

       
}

,
.front {
    backface-visibility: hidden;
/*      transform: translateY(-50%) translateZ(60px) scale(0.94);
*/}

.front,
p {

    margin-top: 0px;
    margin-left: 0px;
    width: 85%;
}

.back {
    transform: rotateY(180deg);
    width: 90%;
    backface-visibility: hidden;
}

.back p {
    margin: 0 auto;
    font-size: 8px;
}

.playerInfo {
    height: 75px;
    width: 100%;
    margin-top: 5px;
    border: 2px solid gold;
}

.playerStats {
    height: 135px;
    width: 200px;
    border: 2px solid lime;
    /*  margin-left: -20px;*/
}

.addBtn {
    margin-top: 5px;
    margin-left: 150px;
    margin: 0 auto;
    backface-visibility: hidden;
    border: 5px solid lime;
}

.dropBtn {
    margin-top: 80px;
    margin: 0 auto;
    backface-visibility: hidden;
    border: 5px solid orange;
}

.currentContainer {
    margin-top: 50px;
    margin-left: 0px;
    height: 500px;
    width: 80%;
}

.face {
    height: 70px;
    width: 70px;
    float: right;
}

.position {
    float: left;
}

.cardHeader {
    height: 60px;
    border: 2px solid red;
}

.playerCard {
    height: 200px;
    width: 250px;
}

