<!DOCTYPE html>
<html ng-app="app">


<head>
<title>Head Coach</title>

      <meta charset="utf-8">
      <title>MEAN FOOTBALL</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

     <script src="chance.js"></script>

     <script src="draganddrop.min.js"></script>
     <script src="src/startpage/startpageController.js"></script>


     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
     <link rel="stylesheet" href="teamHome.css">

     <style>

     select{
       background-color: white;
       color: black;
     }
     </style>
</head>




<body ng-controller="startCtrl">
  <div class="title.container">
    <h2>Team Home </h2>
    <button type="button" class="btn btn-primary" ng-click="submitLineup()">Submit Lineup
    </button>
    <a class="btn btn-success startGame" href="/gamescreen.html">Start Game!!!</a>
   </div>
    </div>




    <table class= "table">
      <thead>
        <th>First</th>
        <th>Last</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Pos</th>
        <th>Set Position</th>
        <th>College</th>
        <th>Str</th>
        <th>Con</th>
        <th>Dex</th>
        <th>Int</th>
        <th>Wis</th>
        <th>Cha</th>
        <th></th>
      </thead>
      <tbody>

        <tr ng-repeat="player in yo">
            <td>{{player.first}}</td>
            <td>{{player.last}}</td>
            <td>{{player.height}}</td>
            <td>{{player.weight}}</td>
            <td>{{player.position}}</td>
            <!-- <td>

        <select name= "setPosition" ng-options="item.position for item in yo"
        ng-model="setPosition.item" ng-change="myFunc(setPosition)">


              </select>


          <tt> PLAYER = {{item.position}} </tt>

            </td> -->
            <td>{{player.college}}</td>
            <td>{{player.Str}}</td>
            <td>{{player.Con}}</td>
            <td>{{player.Dex}}</td>
            <td>{{player.Int}}</td>
            <td>{{player.Wis}}</td>
            <td>{{player.Cha}}</td>
        </tr>
      </tbody>
    </table>


</body>



</html>
